In [5]:
import numpy as np
import pandas as pd
import math
from statistics import mean, stdev
import matplotlib.pyplot as plt

In [6]:
df = pd.read_excel('Energy.xlsx')
df.head()

  Archibus No. Archibus Building Name      Month  Consumption kWh
0            1     University College 2018-04-01       126993.000
1            1     University College 2018-05-01        97771.065
2            1     University College 2018-06-01       119654.935
3            1     University College 2018-07-01        95081.000
4            1     University College 2018-08-01       137121.000

In [7]:
df.isnull().sum()

Archibus No.               0
Archibus Building Name    23
Month                      0
Consumption kWh            0
dtype: int64

In [8]:
df = df.dropna()
df.isnull().sum()
df

     Archibus No.   Archibus Building Name      Month  Consumption kWh
0               1       University College 2018-04-01       126993.000
1               1       University College 2018-05-01        97771.065
2               1       University College 2018-06-01       119654.935
3               1       University College 2018-07-01        95081.000
4               1       University College 2018-08-01       137121.000
...           ...                      ...        ...              ...
4254         068a  Warren Stevens Building 2020-11-01       176921.000
4255         068a  Warren Stevens Building 2020-12-01       205323.000
4256         068a  Warren Stevens Building 2021-01-01       202954.000
4257         068a  Warren Stevens Building 2021-02-01       182063.000
4258         068a  Warren Stevens Building 2021-03-01       199271.000

[4236 rows x 4 columns]

In [9]:
import pandas as pd
import math
from statistics import stdev, mean

# Group by 'Month' and 'Archibus Building Name', and calculate the mean consumption
df1 = df.groupby(['Archibus Building Name', 'Month'])['Consumption kWh'].mean().reset_index()

def find_outliers(building_name):
    outliers = []

    # Filter the data for the specific building
    building_data = df1[df1['Archibus Building Name'] == building_name]

    # Calculate the mean and standard deviation for the building's energy consumption
    consumption_values = building_data['Consumption kWh'].tolist()

    # Calculate standard error and 95% confidence interval
    if len(consumption_values) > 1:  # Ensure there's enough data
        mean_consumption = mean(consumption_values)
        standard_error = 1.96 * (stdev(consumption_values) / math.sqrt(len(consumption_values)))
        upper_bound = mean_consumption + standard_error
        lower_bound = mean_consumption - standard_error

        # Iterate through each month's consumption to check for outliers
        for i, row in building_data.iterrows():
            if row['Consumption kWh'] > upper_bound or row['Consumption kWh'] < lower_bound:
                outliers.append(row['Month'])

    return outliers

# Example usage for 'University College'
outliers = find_outliers('University College')
print(outliers)

[Timestamp('2018-05-01 00:00:00'), Timestamp('2018-07-01 00:00:00'), Timestamp('2018-11-01 00:00:00'), Timestamp('2018-12-01 00:00:00'), Timestamp('2019-01-01 00:00:00'), Timestamp('2019-02-01 00:00:00'), Timestamp('2019-03-01 00:00:00'), Timestamp('2019-04-01 00:00:00'), Timestamp('2019-05-01 00:00:00'), Timestamp('2019-06-01 00:00:00'), Timestamp('2019-07-01 00:00:00'), Timestamp('2019-08-01 00:00:00'), Timestamp('2019-09-01 00:00:00'), Timestamp('2019-10-01 00:00:00'), Timestamp('2019-11-01 00:00:00'), Timestamp('2019-12-01 00:00:00'), Timestamp('2020-01-01 00:00:00'), Timestamp('2020-02-01 00:00:00'), Timestamp('2020-03-01 00:00:00'), Timestamp('2020-04-01 00:00:00'), Timestamp('2020-05-01 00:00:00'), Timestamp('2020-06-01 00:00:00'), Timestamp('2020-07-01 00:00:00'), Timestamp('2020-08-01 00:00:00'), Timestamp('2020-09-01 00:00:00'), Timestamp('2020-11-01 00:00:00'), Timestamp('2020-12-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), Timestamp('2021-03-01 00:00:00'), Timestamp('2021-06-01 00:00:00'), Timestamp('2021-07-01 00:00:00'), Timestamp('2021-08-01 00:00:00'), Timestamp('2021-09-01 00:00:00'), Timestamp('2021-10-01 00:00:00'), Timestamp('2021-12-01 00:00:00'), Timestamp('2022-01-01 00:00:00'), Timestamp('2022-03-01 00:00:00'), Timestamp('2022-04-01 00:00:00'), Timestamp('2022-05-01 00:00:00'), Timestamp('2022-06-01 00:00:00'), Timestamp('2022-07-01 00:00:00'), Timestamp('2022-08-01 00:00:00'), Timestamp('2022-09-01 00:00:00'), Timestamp('2022-10-01 00:00:00'), Timestamp('2022-11-01 00:00:00'), Timestamp('2022-12-01 00:00:00'), Timestamp('2023-01-01 00:00:00'), Timestamp('2023-03-01 00:00:00')]